.underConstructionContainer {
  height: 50vh;
}

.underConstructionVideo {
  height: 60%;
}

@media (min-width: 769px) {
  .underConstructionContainer {
    height: auto;
  }

  .underConstructionVideo {
    height: auto;
  }
}