/* Mobile first */

.pc {
  display: none;
}

.logoContainer {
  height: 60px;
  width: 120px;
  background-image: url('../../assets/ASEA_logo_black.png');
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.navContainer {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 1rem;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.navLink {
  text-decoration: none;
  cursor: pointer;
  color: #ffff;
}

.navLink > a {
  color: #ffff;
}

.burgerMenu {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 40px;
}

.navBar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('../../assets/menu_background.png');
  background-size: cover;
  background-position: center;
  font-size: 2rem;
  color: #ffff;
  text-decoration: none;
  flex-direction: column;
  z-index: 10000;
}

.navBarLinks {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  padding-left: 1.5rem;
}

.not-show {
  transform: translateY(-130%);
  transition: transform 0.5s ease-in-out;
}
  
.show {
  transform: translateY(0);
  transition: transform 0.5s ease-in-out;
}

.closeBtn {
  z-index: 10001;
  position: fixed;
  top: 1.5rem;
  right: 2rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.socialMedia {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 2rem;
  height: 30%;
}

.socialMediaIcons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10%;
  font-size: 2.5rem;
}

.socialMediaIcons a {
  cursor: pointer;
}

.divider {
  width: 80%;
  height: 2px;
  color: #ffff;
  margin: 0 auto;
}


@media (min-width: 769px) {
  .mobile {
    display: none;
  }

  .pc {
    display: block;
  }

  .pcLogo {
    color: black;
  }


  .logo {
    height: 150px;
    cursor: pointer;
  }

  .show {
    transform: translateY(0);
  }

  .not-show {
    transform: translateY(0);
  }
  
  .navContainer {
    width: 100%;
    padding: 0;
    height: 10rem;
  }

  .navBar {
    position: static;
    height: 4rem;
    flex-direction: row;
    font-size: 1rem;
    width: 100%;
    background: none;
  }

  .navBarLinks {
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 0;
    padding-left: 0;
    color: #293037;
  }

  .navLink > a {
    color: black;
    transition: 0.3s all ease-in-out;
  }

  .navLink > a:hover {
    color: #293037;
    text-decoration: underline;
    transform: scale(1.05);
  }
  

  .socialMedia {
    display: none;
  }

  .logoContainer {
    height: 80px;
    width: 160px;
    background-image: url('../../assets/ASEA_logo_black.png');
    background-position: center;
    background-size: cover;
    cursor: pointer;
  }

  .logoContainer:hover {
    background-image: url('../../assets/ASEA_move.png');
  }
}