@font-face {
  font-family: 'Space Grotesk';
  src: url('assets/fonts/spacegrotesk/SpaceGrotesk-Bold.otf') format('opentype'),
       url('assets/fonts/spacegrotesk/SpaceGrotesk-Regular.otf') format('opentype'),
       url('assets/fonts/spacegrotesk/SpaceGrotesk-Medium.otf') format('opentype'),
       url('assets/fonts/spacegrotesk/SpaceGrotesk-Light.otf') format('opentype');
}


* {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
  }

  .currentPage {
    color: #C1844D !important;
  }
  