.headerContainer {
  border-radius: 40px;
  border: 1px solid #293037;
  height: 25vh;
  width: 98vw;
  margin-left: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url('../../assets/header_background.png');
  background-size: cover;
  text-align: center;
  margin-bottom: 24px;
  filter: sepia(10%);
  transition: 0.5s all ease-in-out;
}



.headerTitle {
  color: #fff;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  margin-top: 5%;
}

.headerSubtitle {
  font-size: 9px;
  font-style: normal;
  font-weight: 300;
  line-height: 12px;
  color: #fff;
  width: 90%;
  margin-bottom:5%;
}

@media (min-width: 769px) {
  .headerContainer {
    height: 40vh;
  }
}

@media (min-width: 1040px) {
  .headerContainer {
    width: 90%;
    margin-left: 5%;
    height: 90vh;
    justify-content: space-between;
    align-items: center;
  }

  .headerContainer:hover {
    filter: sepia(60%);
    border: 4px solid #C1844D;
  }
  
  .headerTitle {
    font-size: 3rem;
    line-height: 40px;
    margin-top: 5%;
  }
  
  .headerSubtitle {
    font-size: 1rem;
    line-height: 18px;
    width: 90%;
    margin-bottom: 5%;
  }
}
